h1{
    color:coral;
    font-style:italic;
    text-decoration: underline;
    font-size: 5em;
}

input, label, button {
    display:block;
}

label{
    font-size: 2em;
    text-align: left;
}

.text-center{
    text-align: center;
}

form{
    box-shadow: 9px 5px 9px 0px rgba(0,0,0,0.75);
    margin: 0 auto;
    padding: 7em 7em 7em 7em;
    width: 150px;
    border: 3px solid black;
    background-image: url(./media/SergeyFlowers.jpg);
    background-size: cover;
    background-repeat: no-repeat;
}

body {
    font-family: Lato, sans-serif;
    margin:0;

}

main{
    margin: left 3em;
}

button{
    margin: 1em 0;
}

hr{
    width: 10%;
    color: black;
}
