h1{
    color:coral;
    font-style:italic;
    text-decoration: underline;
}

input, label, button {
    display:block;
}

.text-center{
    text-align: center;
}

form{
    box-shadow: 9px 5px 9px 0px rgba(0,0,0,0.75);
    margin: 0 auto;
    padding: 1em;
    width: 150px;
    border: 3px solid black;
}

body {
    font-family: Lato, sans-serif;
    margin:0;
    background: url(../media/SergeyFlowers.jpg);
}

main{
    margin: left 3em;
}

button{
    margin: 1em 0;
}

hr{
    width: 10%;
}
